@page
@model AboutModel
@{
    ViewData["Title"] = "Reports";
    var laptops = Model.GetLaptops();
    var users = Model.GetUsers();    
    var events = Model.GetEvents();
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Laptop').change(function () {
                var str = "";
                $("#Laptop :selected").each(function () {
                    str += $(this).text() + " ";
                });
                alert(str);
                //$('#LaptopSelection').val(str);
            });
        });
    </script>
}
<!--<h2>@ViewData["Title"]</h2>-->
<h3>Generate Reports</h3>
<h4 style="color: gray">Search Criteria</h4>

<form method="post">
    <p>
        <strong>User</strong>
        <select name="UserSelection" class="selectpicker" multiple>
            @foreach(var user in users) {
                <option value=@user.UserId>@user.LastName, @user.FirstName</option>
            }
        </select>

        <strong>Laptop SN</strong>
        <select name="LaptopSelection" class="selectpicker" multiple> <!-- data-max-options="2">-->
            @foreach(var laptop in laptops) {
                <option value=@laptop.LaptopId>@laptop.SerialNumber</option>
            }
        </select>

        <strong>Status</strong>
        <select name="StatusSelection" class="selectpicker" multiple>
            <option value="1">IN</option>
            <option value="0">OUT</option>
        </select>
    </p>
    <table>
        <tr>
            <td><strong>Start Date</strong>&nbsp;</td>
            <td>
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" style="width:170px">
                    <input type="text" class="form-control" name="StartDate">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </td>
            <td>&nbsp;</td>
            <td><strong>End Date</strong>&nbsp;</td>
            <td>
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" style="width:170px">
                    <input type="text" class="form-control" name="EndDate">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </td>
            <td>
                &nbsp;<input type="submit" class="btn btn-warning" value="Generate Report" /><!--<button type="button" class="btn btn-warning">Generate Report</button>-->
            </td>
        </tr>
    </table>
    <p>
        <label class="radio-inline"><input type="radio" value="User" name="SearchCriteria" checked="checked">User</label>
        <label class="radio-inline"><input type="radio" value="Laptop" name="SearchCriteria">Laptop</label>
        <label class="radio-inline"><input type="radio" value="Status" name="SearchCriteria">Current Status</label>
    </p>
</form>

@if(@events.Count == 0) { <!--<h5 class="text-danger">There are no records that match the search criteria.</h5>--> }
else {
    <h5 class="text-danger"><strong>Result</strong></h5>
    @if (@Model.SearchCriteria == "Status") {
        <table class="table table-striped table-condensed table-hover" style="width:30%">   
            <tbody>
                <thead class="thead-light" style="background-color:khaki;color:white">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tr>
                    <td style="font-weight:bold">@events[0].Status</td>
                    <td>@events[0].Timestamp.ToString("dd/MM/yyy")</td>
                    <td>@events[0].Timestamp.ToString("hh:mm:ss tt")</td>
                </tr>            
            </tbody>
        </table>
    }
    else {
        <table class="table table-striped table-condensed table-hover" style="width:75%"> 
            <tbody>
                <thead class="thead-light" style="background-color:khaki;color:white">
                    <tr>
                        <th scope="col">SN</th>
                        <th scope="col">Laptop SN</th>
                        <th scope="col">Laptop Make</th>
                        <th scope="col">Laptop Model</th>
                        <th scope="col">User</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                @for(var index = 0; index < @events.Count; index++)
                {
                    <tr>
                        <th scope="row">@events[@index].SN</th>
                        <td>@events[@index].SerialNumber</td>
                        <td style="font-weight:bold">@events[@index].Maker</td>
                        <td>@events[@index].Model</td>
                        <td style="font-weight:bold">@events[@index].User</td>
                        <td style="font-weight:bold">@events[@index].Status</td>
                        <td>@events[@index].Timestamp.ToString("dd/MM/yyyy")</td>
                        <td>@events[@index].Timestamp.ToString("hh:mm:ss tt")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}